<ion-header>
  <ion-navbar color="nav">
    <ion-title *ngIf="!!profile">{{name}} Home</ion-title>
    <ion-buttons end>
      <button ion-button padding style="margin-top: -28px; margin-right: -10px;" (click)="goToManageEventsPage()">Manage<br>Events</button>
      <ion-icon style="font-size: 40px; margin-right: 10px;"name="md-clipboard"></ion-icon>
    </ion-buttons>    
  </ion-navbar>   
</ion-header>
<ion-content>
<ion-card> 
    <ion-card-content>
    <ion-item color="nav" item-start>
      <!-- <ion-navbar style="width: 100%" color="nav"> -->
    <ion-avatar>
       <img class="img-profile" src={{profile.photo.data.url}} *ngIf="!!profile"/>
    </ion-avatar>
    <h2 class="card-title">{{name}}</h2>
    <p class="card-subtitle">Organization Info</p>
   </ion-item>
   <img class="item-image" src={{profile.cover.source}} *ngIf="!!profile"/>
  </ion-card-content>
    <ion-card-content>
        <p class="card-title" *ngIf="!edit">{{description}}</p> 
        <ion-textarea class="vol_textarea" placeholder="Tell us about your organization. This will only be seen by the volunteers who sign up to help." [(ngModel)]="newDescription" *ngIf="!!edit">{{description}}</ion-textarea>
        <ion-icon class="vol_pencil" *ngIf="!!edit" (click)="submitDescription()" name="md-create"> Submit</ion-icon>
        <ion-icon class="vol_pencil" *ngIf="!edit" (click)="editDescription()" name="md-create"> Edit</ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card>
  <!-- <img src={{profile.photo.data.url}} *ngIf="!!profile" style="display:inline-block;width:auto;position:relative"/>
  <div *ngIf="!edit" style="display:inline-block;width:75%;position:relative">{{description}}</div> 
  <textarea *ngIf="!!edit" style="display:inline-block;width:75%;position:relative" [(ngModel)]="newDescription">{{description}}</textarea>
  <ion-icon *ngIf="!!edit" (click)="submitDescription()" style="width:6%;display:inline-block;position:relative;float:right" name="md-create"></ion-icon>
  <ion-icon *ngIf="!edit" (click)="editDescription()" style="width:6%;display:inline-block;position:relative;float:right" name="md-create"></ion-icon> -->
  <ion-card-content>
  <ion-navbar color="primary">  
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="isToday" (click)="today()">Today</button>
      <button ion-button (click)="changeMode('month')">M</button>
      <button ion-button (click)="changeMode('week')">W</button>
      <button ion-button (click)="changeMode('day')">D</button>
    </ion-buttons> 
  </ion-navbar>

  <calendar 
            [formatDayHeader]=" 'E' "
            [eventSource]="eventSource"  
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onCurrentDateChanged)="selectDate($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            (dblclick)="addEvent($event)"
            (mousedown)="mousedown($event)" 
            (mouseup)="mouseup()" 
            (mouseleave)="mouseup()"
            step="30">
  </calendar>
  </ion-card-content>
</ion-card>
<ion-footer>
    <ion-toolbar color="nav">
      <button color="light" style="color: white; float: right;" (click)="logout()" ion-button outline item-start>Log out</button>
    </ion-toolbar>
  </ion-footer>