// ion-app._gmaps_cdv_ .nav-decor{
//   background-color: transparent !important;
// }
  // .ios, .md {
  
    page-volunteer-dash {
      
  
    //      #map {
    //     height: 50%;
    // }
 
      .scroll {
          height: 100%
      }
      .home {
        height: 70%;
        margin-bottom: -10%;
        
      }
  .col-33 {
  width: 33%;
  float:left;
  position: relative;
  padding-left: 2%;
  padding-top: 2%;
}


      .propublic {
        // padding-top: 100px;
      }
      .border {
        border: solid black 2px;
      }
      img {
        border-radius: 100px;
      }
  
    }
  
  // }

