page-volunteer-map-search {

    .scroll {
          height: 100%
    }
    .home {
        height: 70%;
        padding-bottom: 2%;
        
    }
  

    .propublic {
        // padding-top: 100px;
    }

    .border {
    border: solid black 2px;
    }
  
}
  
