page-volunteer-map-search {

    .scroll {
          height: 50%
    }
    .home {
        height: 70%;
        padding-bottom: 2%;
        
    }
   #map-canvas {
    position: 'absolute';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:200;
    height:200;
   }

    .propublic {
        // padding-top: 100px;
    }

    .border {
    border: solid black 2px;
    }
  
}